
<div style="text-align:center">
  <app-binding></app-binding>
</div>
<hr>
<app-directives></app-directives>
<!-- Parent to child interaction -->
<app-info (childEvent)= "message=$event" [parentData]="name"></app-info>

{{"Message form child"+message}}

<hr>

<app-pipes></app-pipes>
<hr>

<app-emp-list></app-emp-list>

<nav>
	<a routerLink="/departments" routerLinkActive="active">Departments</a>
	<a routerLink="/employees" routerLinkActive="active">Employees</a>
</nav>
<router-outlet></router-outlet>